body {
    background-color: #3a1446;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 18px 0;
    background-color: rgba(170, 108, 199, 0.55);
}

.navbar.small {
    padding: 8px 0;
    background-color: rgba(170, 108, 199, 0.39);

}

.navbarinner {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.navbarlinks {
    display: flex;
    gap: 60px;
    position: absolute;
    left: 50%;

}

.navbarlinks a {
    color: white;
    text-decoration: none;
}

.navbarbrand {
    color: white;
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding-top: 100px;
    .h1 {
    color: white;
    text-decoration: none;

    }
}

